{% extends 'layout.html' %}
{% load static from staticfiles %}
{% block title %} User profile  {{ super }}{% endblock %}

{% block body %}
<h1> Welcome !</h1>
<div class="grid-30">
    <img class="figure" src="{% static user.avatar %}"><br>
</div>
<div class="grid-70 ">

    <b>Username: </b> {{ user.first_name }}<br><br>
    <b>Last name: </b> {{ user.last_name }}<br><br>
    <b>Email: </b>  {{ user.email }} <br><br>
    <b>Date of birth: </b> {{ user.date_birth }}<br><br>
    <b>Short biography </b> <br><br>{{ user.bio }}

</div>
{% endblock%}
