{% extends 'layout.html' %}
{% block title %} Edit profile of {{ user.username|title }}{% endblock %}

{% block body %}
    <div class="row columns">
        {{ block.super }}
    </div>
    <div class="row columns">
        <h1>Personal information</h1>
        <form method="POST" enctype="multipart/form-data" action="">
            {% csrf_token %}
            <section>
              {{ profile_form.as_p }}
            </section>
            <input type="submit" class="button-primary" value="Save">
        </form>
    </div>
{% endblock %}
